@import 'tailwindcss';

/* Transparent background for OBS browser-source overlays */
html,
body,
#app {
  background: transparent !important;
}

@font-face {
  font-family: 'CHANEY Ultra Extended';
  src: url('./assets/CHANEY-UltraExtended.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
